* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.not_found {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

.active {
  color: blue;
  background-color: red;
}

.icon {
  background-color: blue;
  color: red;
  font-size: 40px;
  width: 100px;
  height: 100px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: black;
  padding: 20px 0;
}

.navbar h1 {
  color: blue;
  text-transform: capitalize;
  font-size: 35px;
}

ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

a {
  padding: 10px;
  text-transform: capitalize;
  color: white !important;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
}

button {
  border: none;
  outline: none;
  padding: 10px 15px;
  background-color: blue;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-right: 20px;
}

.home button:nth-child(2) {
  background-color: red;
  margin-right: 0;
  margin-left: 20px;
}

.item_soni {
  margin-right: 20px;
}

button:active {
  transform: scale(0.9);
}


/* about page malumot kiritish */
.form_oyna form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 20px auto;
  gap: 20px;
  align-items: flex-end;
}

.aboutForm input {

  padding: 10px;
  font-size: 20px;
  border: none;
  outline: none;
  border: 1px solid silver;
  width: 100%;
}

.sendBtn {
  margin: 0;
}

.aboutForm table {
  margin: 20px auto;
}

img {
  width: 100px;
  height: 100px;
}

.cart {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  position: fixed;
  display: flex;
  justify-content: center;
  top: -100%;
  left: 0;
  z-index: 10;
}
.cartActive {
  top: 0;
}
.cartBody {
  width: 80%;
  background-color: white;
}


.btnActive1 {
  background-color: red;
}

.box {
  padding: 0 150px;
  background-color: red;
}